/* đặt một số biến dùng chung cho trang web */
:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --header-height:120px;
    --primary-color:#f63f2e;
}

*{
    
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    /* 1.6rem=16px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: #f5f5f5;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 12px;
  

}
/* test */
.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    /* lấy 2 chia 12 xong nhân 100% */
    width:calc(( 2/ 12) * 100%);
    flex: 1;


}
.grid__column-2-5{
    padding-left: 5px;
    padding-right: 5px;
    width:calc(( 2/ 10) * 100%);
    flex: 1;
    flex-wrap: wrap;
}
.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width:calc((10 / 12) * 100%);
}
.cursor-default{
   cursor: default;
}

/* Pphần modal cho web */
.modal{
   position:absolute;
   top: 0;
   width: 100%;
   height: 100%; 
   z-index: 1;
   background-color: rgba(0,0,0,0.4);
   /* ẩn modal để làm tiếp web */
   display:flex;
   animation: fadeIn linear 0.3s;

}
.modal__body{
      width: 350px;
      /* căn phần modal__body ra giữa phần modal khi phaanf modal có thuộc tính display:flex;*/
      margin: auto;
      background-color: var(--white-color);
      border-radius: 5px;
      overflow: hidden;
      animation: Growth linear 0.3s;
}
.modal__container{
 
}
.auth-form{

}
.auth-form__header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 16px;
}
.form__header-heading{
     font-size: 1.6rem;
     font-weight: 500;
     cursor:default;
}
.form__header-switch-btn a{
    text-decoration: none;
    font-size:1.4rem;
    font-weight:500;
      color: #fa5631;
}
.form__header-switch-btn:hover{
    opacity: 0.8;
}
.auth-form__form{
     margin: 0 16px;
}
.form__input{
  
}
.form__input--btn{
  width: 100%;
  height: 30px;
  margin-bottom:10px;
  outline-color: #fa5631;
}
.form__verify--btn{
    float: right;
    padding: 8px 6px;
    background-color: #fa5631;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.form__verify--btn:hover{
    opacity: 0.8;
}
.auth__form-rule{
 margin-top: 40px;
 padding: 0 16px;
}
.form__rule-description{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}
.form__rule-description a{
    text-decoration: none;
    color: #fa5631;
    margin: 0 3px;
}
.auth__form-close-and-login{
     float: right;
     margin: 5px 16px;
     
}
.form-close--btn{
     margin-right: 60px;
     cursor:default;
}
.form-close--btn:hover{
    opacity: 0.8;
}
.form-login--btn{
  border: none;
  border-radius: 2px;
  background-color: #fa5631;
  padding: 6px 20px;
  cursor: pointer;
}
.form-login--btn:hover{
    opacity: 0.8;
}
.form-login--btn a{
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
}
.auth-form-footer{
    width: 100%;
    height: 46px;
   margin-top: 60px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   background-color: #ededed;

}
.form-footer__contact{
    
    width: 145px;
    margin: 8px 16px;
    
}  
.form-footer__contact--link{
    height: 30px;
       text-decoration: none;
       color: var(--black-color);
       display: flex;
       align-items: center;
       background-color: var(--white-color);
}
.form-footer__contact-img{
    width: 20px;
    margin-right: 5px;
    margin-left: 10px;
    
  
}
.form-footer__contact--info{

}
/* Form đăng nhập */
.auth-form__help{
    position: relative;
    
   float: right;
   margin-bottom: 8px;
   
}
.form-help--link{
    text-decoration: none;
}
.form-help--link__forgot-password{
        color: #fa5631;
        font-weight: 600;
        margin-right: 20px;
}
.form-help--link__forgot-password:hover{
    opacity: 0.9;
}
.form-help--link__need-help{
     color: #999;
     font-weight: 500;
}
.auth-form__help--sparate{
    position: absolute;
    top: 0;
    right: 69px;
    display: block;
    width: 1px;
    height: 16px;
     background-color: #e0d8d8;
}
/* Phần Pagination(phân trang) */
.pagination{
  display: flex;
   justify-content: center;
   align-items: center;
  margin: 48px 0;
}
.pagination-item{
  list-style: none;
   min-width: 40px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center; 
  margin: 0 15px;
  border-radius: 3px;
  cursor: pointer;
   
}
.pagination-item--active{
    background-color: var(--primary-color);
}
.pagination__link{
   text-decoration:none;
   color: #939393;
   font-weight: 500;
   font-size: 2rem;
  
}
.pagination__link--active{
    color: var(--white-color);
}

.pagination-item__icon{

}