

/* class chung */

.pdl-8px{
    padding-left: 8px;
}

.hover{
    opacity: 0.8;
}
/* hiệu ứng */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
/* Hiệu ứng lớn lên */
@keyframes Growth{
    from{
        opacity: 0;
      transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.margin-top0px{
    margin-top: 0;
}
#header{
    height: 120px;
   
    background-image: linear-gradient(0, #fe6533, #f63f2e);
    margin-top: 0
    
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.navbar__list{
      list-style: none;
      padding-left: 0;
      
      
}
.navbar__list-item{
    margin: 0 8px;
    position: relative;
    padding-bottom: 5px;
    position: relative;
}
/* vách  ngăng */
.partition::before{
    content: "";
    width: 2px;
    height: 20px;
    background-color: var(--white-color);
    position:absolute;
    top: -2px;
    left:0px;
}


.navbar__list-item,
.navbar__list-item--link{
    /* làm cho các chữ nằm trên  hàng ngang */
       display: inline-block;
       font-size: 1.4rem;
       color: white;
       text-decoration: none;
       font-weight: 300;

}
.navbar__list-item:hover,
.navbar__list-item--link:hover{
    color: rgba(255,255,255,0.6);
    cursor:pointer;
}
.navbar__list li:nth-child(2):hover {
    cursor: default;
    color: var(--white-color);
    }

.navbar__list-item--bold{
    /* làm cho chữ đậm */
      font-weight: 600 ;
      
}
/* User Info */
.navbar__list-item--userInfo{
    display: inline-flex;
    justify-items: center;
    align-items: center;
    position:relative;
    top: 6px;
    right: 10px;

}
.userInfo__img{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   margin: 0 10px;
}
.userInfor__name{
     font-size: 1.4rem;
     font-weight: 500;
     color: var(--white-color);
     padding-top: 6px;
}
/* user account */
.userInfo__account-menu{
    position:absolute;
    top: calc(100%  + 3px);
    right: 0;
    width: 150px;
    height: 144px;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left:0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    animation: Growth linear 0.3s; 
    transform-origin: calc(100% - 20px) top ;
}
.navbar__list-item--userInfo:hover .userInfo__account-menu{
    display:block
}
.userInfo__account-menu::before{
    content: "";
    position: absolute;
    top: -23px;
    right: 20px;
    border: 12px solid;
    border-color: transparent transparent var(--white-color) transparent;
    
}
.userInfo__account-menu::after{
    content: "";
    width: 108px;
    height: 20px;
    position: absolute;
    top: -18px;
    right: -7px;

}
.account-menu__list{
    list-style: none;
   padding: 10px 12px;
}
.account-menu__list:hover{
    background-color: #e7e7e7;
}
.account-menu__list--link{
    text-decoration: none;
    color: var(--black-color);
}
.items__icon{
    color: var(--white-color);
    /* tăng kích thước cho các icon thành 18px */
    font-size: 1.5rem;
}
.items__icon:hover{
    opacity: 0.7;
}

.fb-icon{
    margin: 0 5px;
}


/* begin QR code */
.navbar__list-item--qr {
          position: absolute;
           top:30px;
          width: 170px;
          height: 210px;
          padding: 8px;
          background-color: var(--white-color);
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          display: none;
          z-index: 1;
          animation: fadeIn ease 1s;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          
          
}
/* tạo một cay cầu tàn hình để khi hover không bị duột giữ chừng */
.navbar__list-item--qr::before{
    content:"";
    position:absolute;
    top:-20px;
    left: 0;
    display: block;
    width: 240px;
    height: 60px;
}
/* Tạo hiệu ứng cho phần QR code */

/* hiện phần QR Code khi hover vào thẻ li */
.navbar__list  .navbar__list-item:hover  .navbar__list-item--qr{
     display: block; 
}      
   
.item__qrcode{
    width: 100%;
    cursor:default;

}
.item-app{
    width: 60px;
    display: inline-block;
    margin-top: 2px;
    margin-left: 12px;;
}
/* Header notify */

.header__notify{
    position:absolute;
    top: calc(100% + 5px);
    right: 0;
       width: 402px;
       height: 200px;
       background-color: var(--white-color);
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       z-index: 3;
       /* định tâm khi xảy ra hiệu ứng ( bên phải phía trên) */
       transform-origin:calc(100% - 30px) top;
       will-change: opacity, transform;
       animation: Growth ease-in 0.3s;
       display: none;
       border-radius: 3px;
       border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Tạo hiệu ứng cho phần notify */

/* Tạo nút mũi tên phía trên phần notify */
.header__notify::before{
    content: "";
    border: 20px solid;
    /* transparent là trong suốt */
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right:15px;
}
/* tạo một cây cầu để khi hover không bị duột mất */
.header__notify::after{
    content:"";
    position: absolute;
    top: -20px;
    right: 0; 
    display: block;
    width: 98px;
    height: 20px;

   
}
#header .navbar__list-item:hover .header__notify{
    display: block;
}  
.header__notify-header{
      color: #333333;
     
      font-weight: 300;
      font-size: 15px;
      margin: 0 8px;
      height: 30px;
      line-height: 30px;
      /* không cho người dùng coppy hay nhấn vào chữ */
      user-select: none;
      -webkit-user-select:none ;
}
.header-notify-list{
     padding-left: 0;
}
.header__notify-item{

}
.notify-item__link{
   display: flex;
   width: 100%;
   text-decoration: none;
   padding: 8px;
   background-color: #f4f4f4;
}
.notify-item__link:hover{
    background-color:var(--white-color);
}
.notify-item__content{
   margin: 0 8px
}
.notify-item__link--img{
      width: 48px;
      height: 48px;
}
.notify-item__link--header{
 font-size: 14px;
 font-weight: 400;
 margin: 3px 0;
  text-decoration: none;
  color: black;   
     
}
.notify-item__link--description{
   font-size: 13px;
   text-decoration: none;
   color: gray;
}
.header__notify-footer{
   background-color: #ffefec;
   font-size: 15px;
   height: 25px;
   line-height: 25px;
   text-align: center;
}
.header__notify-footer a{
    text-decoration: none;
    color: #333333;
}
.header__notify-footer:hover{
    opacity: 0.9;
}

/* end header__notify */
/* General */
.header__general{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: -15px;
}
/* phần logo */
.header__general-logo{
    width: 80px;
   margin-left: 50px;

}
.general-logo--text{
   width: 110px;
  margin: 0px 15px -15px 0;

}
/* phần ô search */
.header__general-search{
    position: relative;
    display: flex;
     flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color:var(--white-color);
    
}
.search-input{
    width: 100%;
 margin-left: 20px;
}
.search-input--btn{
    width: 615px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    
}
/* Hiện phần history khi bấm vào ô tìm kiếm  */
.search-input--btn:focus ~ .search__history{
    display: block;
}
/* phần lịch sử tìm kím */
.search__history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    display:none;
    font-size: 1.4rem;
    width: 60%;
    height:150px;
    background-color: var(--white-color);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation:fadeIn ease-out 0.5s;
    overflow-y: scroll ;
    scroll-behavior: smooth;
    z-index: 2;
}

.search__history-heading{
   font-size: 1.4rem;
   font-weight: 400;
   margin: 12px 8px;
   color: gray;
}
.search__history-list {
   list-style: none;
   padding-left:0px;
  
    height: 40px;

}
.history-list__item{
    width: 100%;
    
   
}
.history-list__item:hover{
    background-color: #f7f7f7;
}
.history-list__item a{
    text-decoration: none;
    color: black;
    line-height: 40px;
     margin-left: 4px;
    

}

/* phần selection */
.search-select{
    font-size: 1.6rem;
    position:absolute;
    right: 68px;
    height: 40px;
    line-height: 40px;
    padding:0 12px;
    border-left: 2px solid #e4e2e2;
    background-color:var(--white-color);
    cursor: pointer;

}
.search-select__icon{
       color: #877f7f;
       margin-top: 3px;
}
.search-option{
    position:absolute;
    top: calc(100% + 3px);
    right:-15px;
   width: 140px;
   height: 80px;
   background-color:var(--white-color);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

   display: none;
   align-items: center;
   cursor: pointer;
   
   
}
.search-select:hover .search-option{
     display: flex;
}
.search-option::before{
    content:"";
    width: 140px;
    height: 10px;
    position: absolute;
    top: -8px;
    right: 0;
}
.search-option__list{  
    margin:0;
     padding:0;
     list-style: none;
     flex: 1;
    

}
.option__list-item{
   padding-left: 10px;
}
.option__list-item:hover{
    width: 100%;
    background-color: #f4f3f3;
}
.option__list-item--icon{
    color: #f63f2e;
    font-weight: 600;
    margin-left: 10px;
}
.search-button{
    height: 36px;
    background-color: #f63f2e;
    line-height: 40px;
    margin: 2px 2px;
    padding: 0px 24px;
    border-radius: 4px;
    cursor: pointer;
    
}
.search-button:hover{
    opacity: 0.9;
}
.search-button__icon{
    color: var(--white-color);
    font-size: 1.6rem;  
   
}
/* phần giỏ hàng */
.header__general-cart{
    color: var(--white-color);
    font-size: 2.2rem;
    margin: 0 90px 0 30px;
    cursor: pointer;
    position: relative;

}
.header__general-cart--quantity{
    position: absolute;
    top: -15px;
    right: -17px;
    background-color: var(--white-color);
    color: #fa5631;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0px 10px;
    border: 3px solid #fa5631;
    border-radius: 50px;
}
.cart__list{
  position:absolute;
  top: calc(100% + 13px);
  right: -16px;
  width: 340px;
  min-height: 250px;
  background-color: var(--white-color);
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
  flex-wrap: wrap;
  justify-content:  center;
  border-radius: 5px;
  animation: Growth linear 0.2s;
  /* chổ calc là bên phải */
  transform-origin:calc(100% - 7px) top;

}
/* tạo phần nhô lên phía trên cho cart-list */
.cart__list::before{
    content: "";
    border: 20px solid;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -35px;
    right: 7px;
}
/* tạo một cây cầu vô hình để khi hover khó bị duột mất */
.cart__list::after{
    content: "";
    width: 90px;
    height: 30px;
    position: absolute;
    top: -31px;
    right:0 ;
}
.cart__list-no__cart{
   width: 100%;
   height: 50%;
}
.cart__list-description{
   color: var(--black-color);
   margin-top: 10px;
   font-size: 1.6rem;
}
.header__general-cart:hover .cart__list{
    display: flex;
}
#container{

}
.category{
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}
.category__heading{
    font-size: 1.5rem;
 padding: 16px 15px 0 15px;
 margin-top: 0;
 cursor: default;
}
.category__heading-icon{

}
.category__list{
    list-style: none;
     padding-left: 0px;
     margin-bottom: 0;
     
}

.category__list-item{
    
    padding: 10px 20px;
    border-top: 2px solid #b4b0b0
}  
.category__list-item--link{
     font-weight: 500;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.3rem;
    position: relative;
    /* khi hover vào chữa sẽ chuyển động chạy sang phải */
    transition: right linear 0.2s;
}

 .category-item__link--active::before{
    content: "";
    border: 6px solid;
    border-color:transparent transparent transparent var(--primary-color);
    position:absolute;
    left: -10px;

}
.category__list-item--link:hover{
    right: -5px;
    color: var(--primary-color);
}
.category__list-item--more{
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: #e3e3e3;
}
.category__list-item--more a{
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black-color);
}
/* End category */
/* Container Fiter */
.container__filter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.3rem;
   padding: 10px 18px;
   background-color: #ededed;
   border-radius: 2px;
}
.container__filter-left{
   display: flex;
   align-items: center;
}
.container__filter-heading{
  margin-right: 16px;
}
.container__filter-btn{
 margin-right: 12px;
 min-width: 80px;
 height: 34px;
 background-color: var(--white-color);
 border: none;
 border-radius: 5px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 cursor: pointer;
 font-weight: 500;
}
.container__filter-btn:hover{
    opacity: 0.9;
    
}
.container__filter-select{
   min-width: 200px;
   height: 34px;
   background-color: var(--white-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius:3px;
   padding: 0 12px;
   z-index: 1;
   position: relative;
}
.filter-select__lable{

}
.fa-solid{

}
.fa-chevron-down{

}
.filter-select__icon{

}
/* Filter-select-option */
.filter-select__option{
    width: 100%;
  background-color: var(--white-color);
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.filter-select__option::before{
    content: "";
    width: 200px;
    height: 10px;
    position: absolute;
    top: -10px;
}
.filter-select__option-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.filter-select__option-list__item{
     padding: 12px 20px;
    cursor: pointer;
}
.filter-select__option-list__item:hover{
    background-color: #e3e3e3;
}
.filter-select__option-list__item--link{
    width: 100%;
  text-decoration: none;
  color: var(--black-color);
}
.filter-select__option-list__item--icon{
    color: var(--primary-color);
    margin-left: 10px;
}
.container__filter-select:hover .filter-select__option{
    display: block;
}
/* Filter right */
.container__filter-right{
 display: flex;
 justify-content: space-between;
}
.container__filter-pagination{
 display: flex;
 
}
.filter-pagination-pages{
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.pagination-pages__currentPage{
    color: var(--primary-color);
}
.pagination-pages__totalPage{

}
.filter-pagination-control{
      display: flex;
}
.pagination-control__btn--disable, 
.pagination-control__btn--enable{
      background-color: var(--white-color);
      width: 40px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      text-decoration: none;
      color: var(--black-color);
}
.pagination-control__btn--disable{
    border-right: 0.5px solid #ededed;
    color: #b7b7b7;
}
.fa-angle-left{

}
.pagination-control__btn-icon{
      
}
.pagination-control__btn--enable{
    border-left: 0.5px solid #ededed;
}
/* Begin Product  */
.home__product-item{
    position: relative;
    background-color: var(--white-color);
    cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;

}
.home__product-item:hover{
    transform:translateY(-8px) ;
}
.home__product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.home__product-item__name{
    margin:0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    /* định hướng cho box(chữ)  */
    -webkit-box-orient: vertical;
    /* Giới hạn số dòng */
    -webkit-line-clamp: 2;

}
.product-item__price{
   display: flex;
   margin-top: 3px;
   font-size: 1.4rem;
   justify-content: space-between;
}
.product-item__price--old{
    /*Tạo đường gạch ngang lên văn bản */
    text-decoration: line-through;
    color: #666;
    font-size: 1.2rem;
}
.product-item__price--new{
  color: var(--primary-color);
  font-weight: 600;
  margin-right: 15px;
}
.product-item__freeShip-icon{
    color: rgba(7,192,167,1);
    float: right;
    margin-top: 2px;
}
.product-item__action{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.product-item__like{
    font-size: 1.3rem;
    
}
.product-item__like--liked{
    color:var(--primary-color);
}
i.product-item__like-icon--emty{
    display: none;
}
i.product-item__like-icon--fill{
  
}

.fa-solid{

}
.fa-heart{

}
.product-item__like-icon{
 
}
.product-item__rating{
   font-size: 0.8rem;
   color: #ffce3e;
   margin-left: auto;
   margin-right: 5px;
}
.fa-star{

}
.product-item__star-icon{

}
.fa-solid.fa-heart.product-item__like-icon{

}
.fa-solid.fa-star.product-item__star-icon{

}
.product-item__source{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px ;
  color: var(--text-color);
}
.product-item__source-brand{

}
.product-item__source-place{

}
/* Phần yêu thích và Sale-off */
.product-item__favourite{
     position: absolute;
     top: 10px;
     left: -4px;  
     font-size: 1.2rem;
     font-weight: 500;
     color: var(--primary-color);
     background-color: currentColor;
     line-height: 16px;
     padding-right: 5px;
     /* border radius bên phải phía trên */
     border-top-right-radius: 3px;
     /* border radius bên phải phía dưới */
     border-bottom-right-radius: 3px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     
}
.product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Tạo hình tam giác nghiêng lên trên 45 độ */
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    /* Giảm độ sáng của element xuống còn 60% nhưng vẫn giữ nguyên tông màu */
    filter: brightness(60%);
    
}
.product-item__favourite span{
    color: var(--white-color);
}

.product-item__favourite-icon{
    color: var(--white-color);
   font-size: 0.9rem;
   margin: 0 2px 0 5px;
}
.product-item__sale-off{
  position: absolute;
  top: 0;
  right: 0;
  color: #ffd342; 
  width: 40px;
  background-color:currentColor ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 3px ;
}
/* tạo phần trống phía dưới phần sale off */
.product-item__sale-off::before{
    content: "";
    position:absolute;
    bottom: -3px;
    border-width: 0 20px 3px 20px;
    border-style: solid;
    border-color: transparent  #ffd342 transparent  #ffd342;
}
.product-item__sale-off_percent{
   color:var(--primary-color);
   font-size: 1.2rem;
   font-weight: 600;

}
.product-item__sale-off_label{
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.home__product-item__content{
    padding: 10px;
}

