/* mobile and tablet */
@media (max-width:63.938rem) {
    :root {
        --header-height:80px;
        --navbar-height: 34px;
    }

    .hide-on-mobile-tablet {
        display:none;
    }
    #header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    .header__general {
      
    }
    .general-logo--text {
        display: none;
    }
    #container {
        margin-top: calc(var(--header-height) + 20px );
    }
    .header__sortbar {
        padding-left: 0px;
    }
    .home__product {
        margin: 20px 5px;
    }
    .pagination{
        padding-left: 0;
    }
    
}
/* Pc */
@media (min-width: 64rem) {
    .hide-on-pc {
        display:none;
    }
}
/* Tablet */
@media (min-width: 46.25rem) and (max-width: 63.938rem) {
    .hide-on-tablet {
        display:none;
    }
    .header__general {
      
    }
    .header__general-logo {
       margin-left: 0;
       margin-right: 20px;
    }
    .header__general-cart{
        margin-left: 30px;
       margin-right: 0;
    }
    .header__sortbar-item:before{
        left: -70px;
    }
    .search__history{
        width: 50%;
    }
    .shop-app__ggplay{
        height: 15px;
    }
    .shop-app__appstore{
        height: 15px;
    }
    .policy__list-item::after {
       height: 40px;
    }
    .mobile__header-menu {
        margin: 0 30px 0 -35px;
    }
    .mobile__menu-list {
          width: 40%;
    }
    .mobile__user-name {
        margin-right: 130px;
    }
    
}
/* Mobile */
@media (max-width:46.188rem) {
    .hide-on-mobile {
        display:none;
    }
    .header__general-logo {
        margin-left:38px
    }
    .header__general-search {
        position: fixed;
        top:var(--header-height);
        width: 100%;
        z-index: 10;
        display:none;
      
        animation: mobileSearchSideIn ease-in 0.4s;
    }
    .header__search-checkbox:checked  ~ .header__general-search {
        display:flex;
    }
   
    .search__history{
        width: 100%;
        top: 100%;
    }
    
    .pagination-item{
        min-width: 20px;
        margin: 0 1px;
       padding: 5px 10px;
       line-height: 20px;
    }
    .pagination__link{
        font-size: 1.6rem;
    }
    .footer-top__container {
        padding-left: 0px;
        text-align: center;
    }
    .footer-top__container-heading {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .container-app__shop-app {
        display:flex;
        margin-left: -10px;

    }
    .container-app--link{
         margin: 0 10px;
    }
    .container-app__QRcode{
        margin-left: -15px;
    }
    .footer__policy-list {
        padding-left: 0;
    }
    .policy__list-item::after{
        height: 70px;
    }
    .footer__information {
        text-align:center;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .footer-top__container-app {
        flex-direction: column;
        margin-left: 110%;
    }
    .container-app__shop-app {
        margin-top: 10px;
    }
    .footer__checked-company {
        margin: 10px 0;
        font-size: 1.2rem;
    }
    .container-list__item--link {
        font-size:1.1rem;
    }
    .policy__list-item--link {
        font-size: 1.2rem;
    }
    .footer__information-text {
        font-size: 1.2rem;
    }
    .cart__list {
        z-index: 10;
        position: fixed;
        top: 70px;
        left: 0;
        right:0;
        width: 100%;
      transform-origin: calc(100% - 50px) top;
    }
    .cart__list::before {
        top: -30px;
        right: 50px;
    }
}
    
    

